.me {
  width: 100%;
}

body {
  background-image: url("https://thumbs.dreamstime.com/b/pastel-blue-white-concrete-stone-texture-background-summer-wallpaper-cement-sand-wall-tone-vintage-abstract-light-165520615.jpg");
  background-color: #cccccc;
}
